<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectotiti">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:exported="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home" />
        <activity android:name=".basicData" />
        <activity android:name=".addFamilies" />
        <activity android:name=".animals0" />
        <activity android:name=".animals1" />
        <activity android:name=".animals2" />
        <activity android:name=".animals3" />
        <activity android:name=".madera0" />
        <activity android:name=".madera1" />
        <activity android:name=".madera3" />
        <activity android:name=".madera2" />
        <activity android:name=".madera4" />
        <activity android:name=".recycle1" />
        <activity android:name=".recycle2" />
        <activity android:name=".recycle3" />
        <activity android:name=".benefits" />
        <activity android:name=".revise" />
    </application>

</manifest>